<html>
  <div class="container" style="background-color: #F7F7F7; width: 50%; margin: 0 auto; padding: 50px 40px 50px 40px; height: 100%;">
    <p>
      <br />
      <img src="http://localhost:3000/assets/rainybudgetlogo.png" style="float: right;">
      <br />
    </p>
    <p>
      Hello!
    </p>
    <p>
      Thank you for signing up to RainyBudget.com.
    </p>
    <p>
      Please note we are still in a beta phase, if you have any problems please don't hesitate to let us know and we'll be glad to fix them.
    </p>
    <p>
      Thanks,
      <br />
      The RainyBudget Team
    </p>
  </div>
</html>
