<html>
  <body style="background-color:#0097d6;">
    <div class="container" style="background-color: #F7F7F7; width: 80%; margin: 0 auto; padding: 50px 40px 50px 40px; height: 100%;">
      <p>
        <br />
        <%= image_tag("rainybudgetlogo.png", :style => "float: right;") %>
        <br />
      </p>
      <p>
        Hello,
      </p>
      <p>
        Thank you for signing up with us!
      </p>
      <p>
        We're glad to have your support as we continue to grow and build rainybudget.com. If you experience any problems please don't hesitate to contact us by using the online form, or you may also reply directly to this email and it will be forwarded to our developers.
      </p>
      <p>
        Thanks and we hope you enjoy using rainybudget.com,
        <br />
        The rainybudget Team
      </p>
    </div>
  </body>
</html>
