<div class="row">
  <div class="large-12 columns">
    <% if flash[:error] %>
      <div class="alert-box alert"><%= flash[:error] %></div>
    <% end %>

    <%if flash[:notice] %>
      <div class="alert-box"><%= flash[:notice] %></div>
    <% end %>

    <%if flash[:alert] %>
      <div class="alert-box alert"><%= flash[:alert] %></div>
    <% end %>
  </div>
</div>
