
<div class="row">
  <div class="large-12 columns">
    <h2 class="text-center"><%= image_tag("rainybudgetlogo.png") %></h2>
    <h4 class="text-center">Save money to escape the month-to-month.</h4>
    <br />
  </div>
</div>


<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-4 columns">
        <p>
          content
        </p>
      </div>
      <div class="large-4 columns">
        <p>
          content
        </p>
      </div>
      <div class="large-4 columns">
        <p>
          content
        </p>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <hr />
  <div class="large-6 columns">
    <p>
      content
    </p>
  </div>
  <div class="large-6 columns">
    <p>
      content
    </p>

  </div>
</div>