
<div class="row">
  <div class="large-12 columns">
    <br />
    <h2 class="text-center">About RainyBudget.com</h2>
    <h4 class="text-center">Save money to escape the month-to-month.</h4>
    <br />
  </div>
</div>


<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-4 columns">
        <p>Track your expenses, your income, and set a savings goal each month. Using a zero-based budget appraoch, RainyBudget.com shows you exactly what you have left to spend each month.</p>
      </div>
      <div class="large-4 columns">
        <p>
          RainyBudget.com is the easiest approach to personal money management. It's not accounting software, it's a budget for regular people with busy lives.
        </p>
      </div>
      <div class="large-4 columns">
        <p>
          <%= link_to "Create a free account today", new_user_path %> to join in. There are no advertisements and we do not sell any personal information to companies or organizations.
        </p>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <hr />
  <div class="large-4 columns">
    <img src="http://placehold.it/400x300&text=[img]">
  </div>
  <div class="large-8 columns">
    <h4>Picking the right budget software for you.</h4>
    <p>We built RainyBudget.com in the name of simplicity. After looking for budget software to use we quickly found they all had too much going on. They would sell our personal information, email us credit card 'deals', they'd cost too much, and many were just not any fun to use.</p>

    <p>RainyBudget.com aims to be simple, very easy to use, fun, secure, and ultimately beneficial for each user in their own personal financial lives. We've found it to be a huge help, and we hope you enjoy it as well. Thanks!</p>

  </div>
</div>