<% title("rainybudget.com - What is rainybudget.com?", false) %>
<% meta_description("All about rainybudget.com and how it works.") %>
<% meta_keywords("zero-based personal finance, personal budgeting, easy online personal finance") %>

<div class="row">
  <div class="large-12 columns">
    <h2 class="text-center"><%= image_tag("rainybudgetlogo.png") %></h2>
    <h4 class="text-center">Save money to escape the month-to-month.</h4>
    <br />
  </div>
</div>


<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-4 columns">
        <h4>1. Track Expenses</h4>
        <p>
          Spending money can get us in trouble, but it's not all bad- spending money helps improve our lives! Watch spending closely to ensure money isn't being wasted.
        </p>
      </div>
      <div class="large-4 columns">
        <h4>2. Generate Income</h4>
        <p>
          Our income is often unchanged from month to month, but increasing income is not only beneficial to saving goals, but also helps build a healthy relationship with money.
        </p>
      </div>
      <div class="large-4 columns">
        <h4>3. Save Money</h4>
        <p>
          Saving is spending less than you made. The more you save, the faster you pay off debt, and the faster you pay off debt, the more you have each month for yourself!
        </p>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <hr />
  <div class="large-6 columns">
    <h5>What is rainybudget.com?</h5>
    <p>
      We have built a very simple, very clean, very easy to use piece of software to help people track their personal finances. After struggling to find a good solution, and realizing none existed, we built the solution we wanted to use.
    </p>
    <p>
      Rainybudget.com is about simplicity, privacy, and gaining control of monthly spending. It's not accounting software, and isn't intended to replace any traditional means of personal finance. Instead, rainybudget.com provides a very visual approach to seeing what is left after you've set your saving goal for the month.
    </p>
  </div>
  <div class="large-6 columns">
    <h5>Try it out!</h5>
    <p>
      All you need to <%= link_to "create an account", signup_path %> is your email address and a password, that's it! If you sign up during the beta phase you'll be a permanent original supporter, giving you benefits later in the life of rainybudget.com.
    </p>
    <p>
      Thanks for checking us out, and if you have any questions, concerns, or would like to say hi feel free to <%= link_to "contact us", contact_us_path %> anytime and one of the developers will get back to you as soon as possible.
    </p>
    <p>
      Thank you!
    </p>
  </div>
</div>