
<div class="row">
  <div class="large-12 columns">
    <h1><%= Time.now.strftime("%A") %> <small><%= Time.now.strftime("%b %d, %Y") %></small></h1>
    <hr />
  </div>
</div>

<div class="row">
  <div class="large-3 columns">
    <ul class="side-nav">
      <li><a href="#">Current Progress</a></li>
      <li><a href="#">Expenses</a></li>
      <li><a href="#">Income</a></li>
      <li><a href="#">Yearly Progress</a></li>
    </ul>
  </div>
  <div class="large-9 columns">
    <div class="row">
      <div class="large-12 columns">
        <p>You have spent $344.87 of $4,200.00</p>
        <div class="progress"><span class="meter" style="width: 8.21%"></span></div>
        <hr>
      </div>
    </div>

    <div class="row">

    </div>
  </div>
</div>