<!-- First Band (Image) -->

<div class="row">
  <div class="large-12 columns">
    <br />
    <br />
    <img src="http://placehold.it/700x300&text=Image One">
    <img class="right" src="http://placehold.it/300x300&text=Image Two">
    <br />
    <br />
    <br />

    <hr>
  </div>
</div>


<div class="row">
  <div class="large-4 columns">
    <div class="text-center">
      <%= image_tag("raindrop_clear.png") %>
    </div>
  </div>
  <div class="large-8 columns">
    <br />
    <br />
    <div class="row">
      <div class="large-10 large-offset-1 columns">
        <h3>Save money to escape the month-to-month.</h3>
        <p>
          Fill your savings bucket one drop at a time. rainybudget.com helps you watch your monthly spending, with an emphasis on saving money, so that you always konw what you have left for the month. If you spend it all, you'll have saved money. It's the easiest zero-based budget software around.
        </p>
        <p>
          <%= link_to "Create an account today", new_user_path %> to see how easy it is to get started.
        </p>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <hr />
  <br />
  <br />
  <div class="large-8 columns">
    <br />
    <br />
    <div class="row">
      <div class="large-10 large-offset-1 columns">
        <h3>Beta month announced.</h3>
        <p>
          We're up and running live! During the beta phase we will be working through a few issues and bugs, but even so your data is still safe. Feel free to <%= link_to "create an account", new_user_path %> and you will be designated as an original supporter; giving you extra benefits later in the life of rainybudget.com.
        </p>
        <p>
          Thanks for your support!
        </p>
      </div>
    </div>
  </div>
  <div class="large-4 columns">
    <br />
    <br />
    <%= image_tag("rainyscreen1.png") %>
  </div>
</div>

<div class="row">
  <div class="large-12 columns" style="padding: 50px 0px 50px 0px;">
  </div>
</div>
