/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require general_foundicons
 *= require_tree .
 *= require jquery.ui.datepicker
 *= require foundation_and_overrides
 */

.primary-icon { color: #3D92DB !important; }
.alert-icon { color: #DC143C !important; }
.success-icon { color: #228B22 !important; }
.secondary-icon { color: #CCCCCC !important; }


input[type="text"] { margin: 0px; }

select { padding: 5px 2px; }

.income-box { border: 1px solid #CCC; padding: 10px; }

.create-account-info-box { clear: both; padding: 20px; font-size: 12px; }

.user-account-info { font-size: 14px; }
.date-row h3 { margin: 0px; padding: 0px; }

.index-mainbox { margin-top: 10px; padding: 0px 20px 20px 20px; }
.login-box { margin: 0px; padding: 20px 0px; }

.legal-text { font-size: 12px; }
.legal-text p { padding-left: 15px; }
.legal-text ol { padding-left: 30px; }
.legal-text ul { padding-left: 30px; }

.ui-datepicker-next { display: none; }
.ui-datepicker-prev { display: none; }

a { border-bottom: 1px solid #FFFFFF; }
a:hover { border-bottom: 1px solid; }

.forgot-remember { font-size: 14px; }
.forgot-remember a { color: #3D92DB !important; }
 
.fixed-font { color: #3D92DB; }
.fluid-font { color: #DC143C; }
.saving-font { color: #228B22; }

.red-remove-link a {
  color: #DC143C;
  text-decoration: none;
}.red-remove-link a:hover {
  color: #DC143C;
  border-bottom: 1px solid;
  text-decoration: none;
}

.custom-expense-lineheight { line-height: 150%; }

.header-span h3 { color: #0097d6; }

.main-nav {
  }.main-nav ul {
    list-style: none;
    width: 100%;
    margin: 10px 0px 0px 0px;
  }.main-nav li {
    display: inline;
    font-size: 14px;
    padding: 10px;
  }

.header-links a { color: #0097d6; border-bottom: none; text-decoration: none; }
.header-links a:hover { border-bottom: 1px solid; color: #0097d6; }

.header-logo a:hover { border: 0px solid; text-decoration: none !important; }

.footer-links { font-size: 14px; }
.footer-company { font-size: 14px; color: #F7F7F7; }

.drop-signin-form { width: 500px; }

.header-span {
  margin-bottom: 20px;
  color: #333;
  border-bottom: 1px solid #CCCCCC;
  -webkit-box-shadow: 0px 0px 8px 2px #CCCCCC;
       -moz-box-shadow: 0px 0px 8px 2px #CCCCCC;
            box-shadow: 0px 0px 8px 2px #CCCCCC;
}


.morris-hover{position:absolute;z-index:1000;}.morris-hover.morris-default-style{border-radius:10px;padding:6px;color:#666;background:rgba(255, 255, 255, 0.8);border:solid 2px rgba(230, 230, 230, 0.8);font-family:sans-serif;font-size:12px;text-align:center;}.morris-hover.morris-default-style .morris-hover-row-label{font-weight:bold;margin:0.25em 0;}
.morris-hover.morris-default-style .morris-hover-point{white-space:nowrap;margin:0.1em 0;}


