/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require foundation_and_overrides
 */
 
.fixed-font { color: #3333FF; }
.fluid-font { color: #DC143C; }
.saving-font { color: #228B22; }


.main-nav {
  }.main-nav ul {
    list-style: none;
    width: 100%;
    margin: 10px 0px 0px 0px;
  }.main-nav li {
    display: inline;
    font-size: 14px;
    padding: 10px;
  }

.footer-links { font-size: 14px; }
.footer-company { font-size: 14px; }

.drop-signin-form { width: 500px; }

.header-span {
  margin-bottom: 20px;
  border-bottom: 1px solid #CCC;
  background-color: #FCFCFC;
}
